<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.laky.blogger.mapper.BlogManagerMapper">
  <resultMap id="BaseResultMap" type="club.laky.blogger.pojo.BlogManager">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="power" jdbcType="INTEGER" property="power" />
  </resultMap>
  <select id="getByFiled" resultType="club.laky.blogger.pojo.BlogManager">
    select * from blog_manager
    <where>
      <if test="name != null and name != ''">
       and nickname like '${name}%'
      </if>
      <if test="power != null">
       and power = #{power}
      </if>
      <if test="state != null">
       and state = #{state}
      </if>
    </where>
    <if test="first != null and limit != null">
        limit ${first},${limit}
    </if>
  </select>
  <select id="getCountByFiled" resultType="java.lang.Integer">
    select count(*) from blog_manager
    <where>
      <if test="name != null and name != ''">
       and nickname like '${name}%'
      </if>
      <if test="power != null">
       and power = #{power}
      </if>
      <if test="state != null">
       and state = #{state}
      </if>
    </where>
    <if test="first != null and limit != null">
      limit ${first},${limit}
    </if>
  </select>
</mapper>